1)Write a Python function that takes a list of numbers as input and returns the sum of all even numbers in
the list.

In [9]:
def evenLists(n):
    l = []
    sum=0
    iseven = lambda item:item%2==0
    for i in range (0,n):
        l.append(int(input("Enter the number for the list")))
    for item in l:
        if iseven(item):
            sum=sum+item
    return sum

In [13]:
evenLists(5)

Enter the number for the list 44
Enter the number for the list 90
Enter the number for the list 56
Enter the number for the list 71
Enter the number for the list 34

224

2)Create a Python function that accepts a string and returns the reverse of that string.

In [14]:
def reverse(s):
    return s[::-1]

In [15]:
reverse("Hello World!")

'!dlroW olleH'

3)Implement a Python function that takes a list of integers and returns a new list containing the squares of
each number.

In [19]:
def squared(l):
    res=list(map(lambda x:x**2,l))
    return res

In [21]:
squared([1,2,3,4,5])

[1, 4, 9, 16, 25]

4)Write a Python function that checks if a given number is prime or not from 1 to 200

In [53]:
def isPrime():
    count=0
    print("List of Prime nos between 1 and 200")
    for i in range(1,201):
        count=0
        for j in range(1,i+1):
            if i%j==0: count=count+1
        if count == 2: 
            print(i)

In [54]:
isPrime()

List of Prime nos between 1 and 200
2
3
5
7
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97
101
103
107
109
113
127
131
137
139
149
151
157
163
167
173
179
181
191
193
197
199

5)Create an iterator class in Python that generates the Fibonacci sequence up to a specified number of
terms.

In [74]:
def fibonacci(n):
    l=[]
    l.append(0)
    l.append(1)
    a=0
    b=1
    for i in range(2,n+1):
        c=a+b
        a=b
        b=c
        l.append(c)
    return l

In [92]:
for i in fibonacci(5):
    print(i)

0
1
1
2
3
5

6)Write a generator function in Python that yields the powers of 2 up to a given exponent.

In [81]:
def powersoftwo(max_exponent):
    for i in range(0,max_exponent+1):
        yield 2**i

for i in powersoftwo(5):
    print(i)

7)Implement a generator function that reads a file line by line and yields each line as a string.

In [87]:
def read_file_line_by_line(file_path):
    """Generator function to read a file line by line."""
    with open(file_path, 'r') as file:
        for line in file:
            yield line.strip()

In [96]:
for line in read_file_line_by_line("demo.txt"):
    print(line)

My name is Divyanshu Kumar.
I am from Bhagalpur,Bihar.
I am currently learning Data Analyst

8)Use a lambda function in Python to sort a list of tuples based on the second element of each tuple.

In [102]:
l = [(1,"orange","dog"),(2,"dog","cat"),(3,"bat","sleep"),(4,"sleep","code")]
sorted(l,key = lambda x: x[1])

[(3, 'bat', 'sleep'),
 (2, 'dog', 'cat'),
 (1, 'orange', 'dog'),
 (4, 'sleep', 'code')]

9)Write a Python program that uses `map()` to convert a list of temperatures from Celsius to Fahrenheit.

In [111]:
l=[20,30,40,50,60]
list(map(lambda item:float((item*(9/5)+32)),l))

[68.0, 86.0, 104.0, 122.0, 140.0]

10)Create a Python program that uses `filter()` to remove all the vowels from a given string.

In [122]:
s = "Hello World"
vowels="aeiouAEIOU"
res = ''.join(filter(lambda char: char not in vowels,s))
res

'Hll Wrld'

11)Imagine an accounting routine used in a book shop. It works on a list with sublists, which look like this:

In [4]:
orders = [
    (34587, "Learning Python, Mark Lutz", 4, 40.95),
    (98762, "Programing Python, Mark Lutz", 5, 56.80),
    (77226, "Head First Python, Paul Barry", 3, 32.95),
    (88112, "Einführung in Python3, Bernd Klein", 3, 24.99)
]

result = list(map(lambda x: (x[0],x[2]*x[3]+10 if x[2]*x[3]<10000 else x[2]*x[3]),orders))

In [8]:
result

[(34587, 173.8), (98762, 294.0), (77226, 108.85000000000001), (88112, 84.97)]